* {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: green;
    color: black;
}

.btn:active {
    background-color: red;
    color: white;
    width: 300px;
}

#input {
    background-color: rgb(212, 212, 212);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#input:focus {
    background-color: gray;
    color: purple;
    width: 300px;
}

.p1 {
    color: green;
    font-size: 25px;
}

.p1::first-letter {
    color: red;
    font-size: 50px;
}

.p1::first-line {
    color: black;
    font-size: 30px;
}

.p1::after {
    content: "After";
    color: blue;
    font-size: 20px;
}

.p1::before {
    content: "Before";
    color: blue;
    font-size: 20px;
}


.container {
    height: 400px;
    width: 500px;
    background-color: gray;
    color: brown;
    padding: 30px;
    /* padding: 30px 20px; */
    /* padding: 30px 20px 40px; */
    /* padding: 30px 20px 40px 10px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */

    /* border-width: 30px;
    border-style: solid;
    border-style: dotted;
    border-style: dashed;
    border-style: double;
    border-color: green; */

    border: 5px dashed blue;

    /* margin: 10px; */
    /* margin: 10px 20px; */
    /* margin: 10px 20px 30px; */
    /* margin: 10px 30px 20px 40px; */
    margin-left: 10px;
}